@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('/src/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

.background {
    background-color: #f7911d;
}

.title {
    font-family: 'Montserrat-bold';
    color: #804517;
}

.comercioTitle {
    font-family: 'Montserrat-bold';
    color: #411d00;
}

.subtitle {
    font-family: 'Montserrat-bold';
    font-size: 27pt;
    color: #ffffff;
}

.barraResultados {
    background-color: #804517;
}